@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&display=swap');
/* font-family: 'Arimo', sans-serif; */


.fundoContato {
    background-color: rgba(27, 27, 27, 0.705);
}

.card {
    font-family: 'Arimo', sans-serif;
    max-width: 20rem;
    background-color: black;
    color:white;
}

a{color: black;}

h5 {font-weight: bold;
font-size: large;}

img{object-fit: cover;
object-position: 0% 0%;}

.fonte-email{
    font-size: 13.4px;
}

.foto{
    width: 294px;
    height: 294px;
}