@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&display=swap');
/* font-family: 'Arimo', sans-serif; */


main{
    height: 500px;
    background: rgb(224,231,231);
    background: linear-gradient(0deg, rgba(224,231,231,1) 0%, rgba(198,205,205,1) 8%, rgba(170,176,176,1) 19%, rgba(135,140,140,1) 28%, rgba(89,93,93,1) 49%, rgba(53,56,56,1) 73%, rgba(0,0,0,1) 100%);
}

.mae{
    height: 100%;
    padding-bottom: 60px;
}
