@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&display=swap');
/* font-family: 'Arimo', sans-serif; */


header {
    background-color: black;
    height: 70px;
}
/* div da imagem do fundo  */

.texto-chato {
    color: white;
    margin-top: -120px;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
#texto-mais-chato {
    color: white;
    text-align: center;
    margin-top: -480px;
    opacity: 1;
}

.fundo{
    background-color: black;
    opacity: 1;
}
/* imagem de background  */
.background_img{
    width: 100%;
    height: 733px;
    opacity: 0.5;
}

/* logo lateral */
.resilia_logo{
    margin-top: 15px;
    margin-left:20px;
    width: 180px;
    transition: 0.5s;
}

.resilia_logo:hover{
    width: 190px;
}

#navbarSupportedContent {
    border-color: white;
}

#navbarDropdown {
    margin-top: -35px;
    border-color: white;
}
/* //botão responsivo// */
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: red;
    border: 2px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    border-color: white;
}

.menuResilia{
    margin-top: 15px;
    color: white;
    border-radius: 4px;
    background-color: black;
    border-color: white;
}

.dropdown {
    margin-top: 18px;
    margin-right: 25px;
    border-color: white;
} 
/* botão pesquisar */
.btn-outline-success {
    color: white;
    border-color: red;
    background-color: red;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: red;
    border-color: red;
}

.nav-link:focus, .nav-link:hover {
    color:white;
}

/* botão "vamos lá" */
#button-addon2 {
    color:white;
    background-color: red;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}   

/* inicio da segunda metade do site  */
.movies {
    background-color: black;
}

.movies h1 {
    color: rgb(194, 193, 193);
    text-align: center;
}
/* poster do filme  */
.card-img-top {
    width: 150px;
    height: 215px;
}

.card-title {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(77, 76, 76);
}

.btn-primary {
    font-family: 'Arimo', sans-serif;
    background-color: red;
    border-color: red;
    text-transform: uppercase;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: red;
    border-color: red;
}


footer {
    font-family:'Arimo', sans-serif;
    color:cornsilk;
    background-color: black;
    text-align: center;
}
.title{
    color: white;
}
texto2{
    color: white;
}
/* responsividade porca */
@media (max-width:1100px) {

#texto-mais-chato {
        display: none;
    }
        
}
@media (max-width:600px) {
    .texto-chato {
        display:none;
    }
}